<%- include('./partials/header.ejs')%>
    <h1 class="header">Zachary Pacello Education</h1>
    <p><strong>Bachelor of Science,</strong> Computer Science, <strong>Concentration: </strong>Web and Mobile Applications</p>
    <p><strong>Completed</strong>: May 2022</p>

    <div class = "education">
    <p><strong>Master of Science,</strong> Computer Science, <strong>Concentration: </strong>Artificial Intelligence</p>
</div>
    <p><strong>Completed</strong>: May 2023</p>
    <h1 class="header1">Skills</h1>
    <h2>Proficient in the following</h2>
    <strong><p>Java/Android Development, JavaScript, Python, TensorFlow, Keras</p></strong>
    <strong><p>MVC, Express, API Programming, Server Development</p></strong>
    <strong><p>Machine Learning/Deep Learning Algorithms, Computer Vision, Natural Language Processing and Generative AI  </p></strong>
    <h2>Experience with the following</h2>
    <strong><p>C, C++, Go Programming, GraphQL, VueJS and LISP </p></strong>

    <footer class = "footer11">Zachary Pacello, UNC Charlotte, Computer Science</footer>

